*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block;}
body{background: #EFEFEF;}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
.site-welcome{
    display: none;
    position: fixed;
    background: white;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 1; 
    justify-content: center; align-items: center;
}
.site-welcome.active{
    display: flex;
}
.loading{
    width: 200px; height: 200px;
    position: relative; 
}
.loading::before,.loading::after{
    content: '';
    position: absolute;
    width: 10px; height: 10px;
    background: black; border-radius: 50%;
    top: 0; left: 0; bottom: 0; right: 0; margin: auto;
    animation: loading 2s linear infinite;
}
.loading::after{animation-delay: 0.75s;}
@keyframes loading{
    0%{
        width: 0; height: 0; opacity: 1;
    }
    100%{
        width: 100px; height: 100px; opacity: 0;
    }
}

.clearfix::after{
    content: '';
    display: block; 
    clear: both;
}
.topbar{padding: 23.8px 118px 23.8px 15px; position:fixed; width: 100%; box-sizing: border-box; transition: all 0.5s;color:  #bebebe;}
.topbar.sticky{background: white; padding: 13.8px 118px 13.8px 15px; z-index: 1; box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75); color: #3d4454; box-sizing: border-box;}
.topbar .logo{float: left;}
.topbar nav{float: left;}
.topbar .logo span{font-size: 30px; font-family: Arial black; color: #bebebe;}
.topbar .logo span:nth-child(1){
color: #6eecde; margin-right: 3px;}
.topbar nav{float: right;}
.topbar > nav > ul > li{float: left; margin: 0 17px; position: relative;}
.topbar > nav > ul > li > a{
    display: block;
    font-size: 13px; font-weight: bolder;
    color: inherit;
    padding: 9.8px 0;
    position: relative;
}
.topbar nav ul li.active a::after{
    content: '';
    display: block;
    width: 100%; height: 3px; border-radius: 1.5px;
     background: #1bd4af;
     animation: slide 0.3s;
     position: absolute;
     top: 32px; left: 0;
    }
@keyframes slide{
    0%{width: 0;}
    100%{width: 100%;}
}
.topbar .submenu{ font-size: 13px; font-weight: bolder; background: white; padding: 10px 0;
    display: none; position: absolute; right: 0; top:100% ;color: #3D4451;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.topbar .submenu li{padding: 5px 15px 5px 20px; white-space: nowrap;}
.topbar li.active> .submenu{display: block; animation: aaa 0.3s linear;}
@keyframes aaa{
    0%{margin-right: 100%; opacity: 0;}
    100%{margin-right: 0; opacity: 1;}
}
.banner{
    height: 515px;
    background: url(https://i.loli.net/2020/07/05/CMm7oPr8KQ63qgZ.png);
    background-size: cover;
    background-position: center center;
}
.banner .background{
    height: 100%;
    background: rgba(44, 51, 64, 0.7);
}
.main{
     max-width: 930px; margin: 0 auto; 
     box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    margin-top: -350px;
    }
.usercard{
    max-width: 930px;
    background: #FFFFFF;
    padding: 57px 50px 30px;
}

.pic,.text{float: left; padding-right: 15px;}
.text{width: 471px; padding: 0 0 0 42px;}
.welcome{margin-bottom: 28px;}
.text span{
    display: block;
    background: #6eecde;
    font-size: 14px; font-weight: bold; color: white;
    padding: 5px 11.5px;
    /* display: block; 解决增加padding后，span超出父元素 */
    float: left;/*解决变成块元素后，span改变原来尺寸 */ 
    position: relative;
    line-height: 19.2px;
   
}
.text span::after{
    content: "";
    display:block;
    border-left: 10px #6eecde solid;
    border-bottom: 10px transparent solid;
    position: absolute;
    top: 29.2px; left: 6px;
}
.text p{
    border-bottom: 1px solid #DEDEDE;
    padding: 7px 0 25px 0;
    margin-bottom: 25px;
}
.text dl dt,
.text dl dd{float: left; margin-bottom: 25px; font-size: 15px;}
.text dl dt{width: 120px; font-weight: bold;}
.text dl dd{width: 346px; color: #b4b4b4;}

.media{
    width: 930px; height: 100px; background:#6eecde;
     text-align: center;}
.media a{
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 10px;
    margin: 30px 20px 18px;
    transition: 0.2s;
}
.media a:hover{background: rgba(97, 94, 94, 0.1);}
.media svg{
    width: 25px; height: 25px; fill:white;
    vertical-align: top; 
}
.button{text-align: center; margin: 25px 0;}
.button a{
    display: inline-block;
    border: 1px solid #CDCFD1;
    border-radius: 3px;
    color: black; font-size: 15px; font-weight: bold;
    padding: 19px 55px;
    margin: 5px;
    transition: 0.4s;
}
.button a:hover{
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.4);
}
.introduction p{
    text-align: center;
    font-size: 16px; font-family: kai;
}
.introduction p:nth-of-type(2){margin-top:15px;}

h2{text-align: center; margin: 40px 0 15px 0;}
h3{font-size: 15px; font-weight: normal; margin: 0 0 5px; color: #525863;}

.skill{
    margin: 0 auto;
    max-width: 930px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
}
.skill ul{padding: 40px 35px 10px;}
.skill ul li{float: left; padding: 0 15px; margin-bottom: 40px;}
.skill .outside{
    width: 400px; height: 5px;
    border-radius: 2.5px; background: #e8e9e9a8;
}
.skill .outside .inside{
    height: 100%; width: 50%; border-radius: 2.5px; background: #6eecde;
}
.skill ul li:nth-child(1) .inside{width: 80%;}
.skill ul li:nth-child(2) .inside{width: 75%;}
.skill ul li:nth-child(3) .inside{width: 90%;}

.portfolio{
    max-width: 930px;
    margin: 60px auto 0;
    text-align: center;
    margin-bottom: 60px;
}
 .portfolio nav{display: inline-block;}
/*
.portfolio nav ul{display: inline-block; vertical-align: top; border: 1px solid black;}
.portfolio nav ul li{float: left;}
.portfolio nav ul li:nth-of-type(2){margin: 0 35px;}
.portfolio nav ul li:nth-of-type(1){margin-left: 7px;}
.portfolio nav ul li:nth-of-type(3){margin-right: 7px;}

.portfolio .bar{
    border: 1px solid red;
    height: 5px; border-radius: 2.5px; background: white; 
}*/
.lead p{cursor: pointer;}
.portfolio .lead span:nth-of-type(2){margin: 0 60px;}
.portfolio .lead .out{
    display: block;
    height: 5px; border-radius: 2.5px; background: white;
    position: relative;
}
.portfolio .lead .out .in{
    display: block;
    width: 37px; background: #6eecde; height: 100%;
    border-radius: 2.5px;
    position: absolute; transition: all 0.1s linear;
}
.portfolio .out.state-1 .in{width: 15px; left: 0;}
.portfolio .out.state-2 .in{width: 57px; left: 82px;}
.portfolio .out.state-3 .in{width: 101px; left: 183px;}

.jobs{height: 576px; margin-top: 40px; position: relative;}
.big,.small,.small1{
    position: absolute; 
}
.small{right: 0;}
.small1{bottom: 0; right: 0;}
.job img{box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);}
